@using LetsGame.Areas.Hub.Models.Controls;
@model EventButtonModel

@if (Model.IsCreate) {
	<a class="@(Model.ControlType == ControlType.BUTTON ? "btn btn-primary" : "dropdown-item text-dark")" asp-area="Hub" asp-page="/Events/Edit" asp-route-eventId="@Model.EventID" asp-route-returnUrl="@Model.ReturnURL">
		<i class="bi bi-plus-lg"></i>
		New Event
	</a>
} else {
	<a class="@(Model.ControlType == ControlType.BUTTON ? "btn btn-sm btn-secondary" : "dropdown-item text-dark")" asp-area="Hub" asp-page="/Events/Edit" asp-route-eventId="@Model.EventID" asp-route-returnUrl="@Model.ReturnURL">
		<i class="bi bi-gear"></i>
	</a>
}
