@using LetsGame.Data.Models;
@using LetsGame.Areas.Identity.Data;
@using LetsGame.Areas.Hub.Models;
@using System.Globalization;
@model PartialModel_SingleEvent

<!---Display Date/Time Left-->
<div class="row">
	<div class="col d-flex justify-content-between">
		<h3>@Model.EventDate</h3>
		<h4 class="lead text-muted">Time till event: @Model.TimeToEvent</h4>
	</div>
</div>
<!---Display Controls-->
<div class="row">
	<div class="d-flex flex-row-reverse">
		@if (Model.UserEvent.IsCreator){
			<partial name="Controls/_EventDropDownControls" model="@new ControlModel_EventData(Model.Event.ID, Model.CurrentPage)"/>
		}
		<partial name="Controls/_PinEvent" model="@new ControlModel_PinEvent(Model.UserEvent.IsPinned, Model.Event.ID, Model.CurrentPage)"/>
	</div>
</div>
<!---Display Description-->
<div class="row">
	<div class="col">
		<p>@Model.Event.Description</p>
	</div>
</div>
<!---Display Poll-->

@if (Model.HasPoll)
{
	<partial name="_Poll" model="@new PartialModel_Poll(Model.CurrentPage, Model.Poll, Model.UserVote, Model.UserEvent.IsCreator)"/>
}
else {
	<div class="row mx-0 my-4">
		<div class="col flex-column">
			<div class="d-flex border border-primary rounded-2 justify-content-center align-items-center" style="height:18vh;">
				<div>
					<form method="post" asp-area="Hub" asp-page="/Events/Index" asp-page-handler="AddPoll" asp-route-eventID="@Model.Event.ID" asp-route-returnUrl="@Model.CurrentPage">
						<button class="btn btn-outline-primary" type="submit">Add New Poll</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
<!---Display Participants-->
<div class="row">
	<div class="d-flex col justify-content-start">
		<div class="lead text-muted pe-2">
			<strong>Creator:</strong> <span class="text-primary">@Model.Event.UserEvents.Single(ue => ue.IsCreator).User.UserName</span>
		</div>
		@if (Model.Event.UserEvents.Count > 1) {
			<div class="lead text-muted pe-2">
				<strong>Particiants:</strong>
			</div>
		}

		@foreach(LetsGame_UserEvent ue in Model.Event.UserEvents) {
			if (!ue.IsCreator)
			{
				<div class="lead text-muted pe-2">@ue.User.UserName</div>
			}
		}
	</div>
</div>

